.menuPopup {
  position: relative;
}

.menuPopup ul {
  display: none;
  background-color: #f9f9f9;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 4px;
  margin: 0;
  position: absolute;
  border-radius: 10%;
  list-style: none;
}

.menuPopup ul li {
}

.show ul {
  display: block;
}
